body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
}

form {
margin: 25px;
}

input {
  background-color: rgb(255, 208, 0);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  border-radius: 10px;
}

input[type="text"] {
    width: 200px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px whitesmoke inset !important;
}

.App {
  text-align: center;
  margin: auto;
  font-size: 24px;
  /* padding-left: 20px; */
 }
 .App-header{
   color:rgb(255, 174, 0)
 }
.data{
  color: purple
}

.weather-card {
  text-align: center;
}