body {
    font-family: 'Space Mono', monospace;
}

.header {
    font-family: 'Paytone One', sans-serif;
    font-size: 56px;
    text-align: center;
}
section {
    height: 500px;
    background-color: blueviolet;
    border: solid black 1px;
}