* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(black, whitesmoke);
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 16px;
    min-height: 100vh;
}

.navbar {
    text-align: center;
    margin: auto;
    list-style: none;
}

ul {
    background-color: black;
    padding: 5px 0 5px 0;
}

li {
    padding: 0 10px 0 10px;
    background-color: whitesmoke;
    border-radius: 30px;
}

.navigation,
li,
a {
    font-weight: bold;
    display: inline;
    text-decoration: none;
}

h1 {
    color: whitesmoke;
    font-family: 'Aboreto', cursive;
    font-size: 72px;
    text-align: center;
}

#me {
    border-radius: 500px;
}

.row {
    display: flex;
}

#leftCircle,
#me,
#rightCircle {
    flex: 33.33%;
    padding: 5px;
}

.aboutMe {
    text-align: center;
    width: 50%;
    margin: auto;
}

h3 {
    font-family: 'Aboreto', cursive;
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 30px;
    /* width: 50%; */
    margin-top: 10px;
    margin-bottom: 10px;
    /* margin-left: 245px; */
}

.socialsIcons {
    al width: 50%;
    margin: auto;
}