body {
    font-family: 'Hind Siliguri', sans-serif;
}

.navigation, li {
    display: inline-block;
}

h1 {
    font-family: 'Aboreto', cursive;
    text-align: center;
}

#me {
    border-radius: 500px;
}

.row {
    display: flex;
}

#leftCircle, #me, #rightCircle {
    flex: 33.33%;
    padding: 5px;
} 

